*{
  box-sizing: border-box;
}

body{
  background: #74531d70;
}

canvas{


  border: solid 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 100vw;
  max-height: 100vh;
  font-family: 'Bangers', cursive;
  
  /* 
  */
  display: none; 


}

img{
  display: none;
}
